@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Azeret Mono", monospace; */

/* header section style */
* {
    margin: 0;
    padding: 0;
}

.banner {
    background: url('../assets/Hero-bg.png');
    width: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-content {
    text-align: center;

}

.banner-sub-image {
    margin: 26px 415px 0 415px;
}

.banner-heading {
    color: rgb(13, 19, 33);
    margin-top: 30px;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;

}

.banner-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    opacity: 0.7;
    margin: 30px 294px 30px 294px;

}

.btn-primary {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    padding: 21px 24px 21px 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    margin: 30px;
}

/* title part styles */

.title {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 30px 80px 30px 80px;
}

.title-heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    text-align: center;
    margin-top: 80px;
}

.title-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    opacity: 0.7;

}

.title-1 {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 50px 150px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.title-1-heading {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

.title-1-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 32px;

}

.title-1-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.title-2 {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 50px 150px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.title-2-heading {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-top: 30px;

}

.title-2-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    margin: 20px 0 32px 0;
}

.title-2-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.title-3 {
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 50px 150px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.title-3-heading {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 20px;
}

.title-3-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 32px;
}

.title-3-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

/* My inspiration part style */

.Inspiration-heading {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.Inspiration-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;

}

.video {
    border-radius: 16px;
    margin: 30px 180px 30px 180px;

}

/* my current target styles */

.target-title {
    text-align: center;
}

.target-heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-top: 30px;
}

.target-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-top: 30px;
}

.target-container {
    display: flex;
    /* text-align: center; */
    /* justify-content:space-around */
    margin: 30px 190px 30px 190px;
}

.target-html {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    margin-right: 10px;
    padding: 40px 40px 40px 40px;
}

.html-heading {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin: 20px 20px 20px 0;
}

.html-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;

}

.html-btn {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
    border: none;
    margin-top: 20px;
}

.target-css {
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    margin-right: 10px;
    padding: 40px 40px 40px 40px;
}
.css-heading{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin: 20px 20px 20px 0;   
}
.css-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;   
}
.css-btn{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
    border: none;
    margin-top: 20px;
}
.target-js{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05); 
    padding: 40px 40px 40px 40px; 
}
.js-heading{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin: 20px 20px 20px 0;   
}
.js-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;   
}
.js-btn{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
    border: none;
    margin-top: 20px;}